.board{
  background-image: url('http://b68389.medialib.glogster.com/media/225f04d134bcca04f802e3100ce19bd02fb628337339c9889120bb9e539e48ef/background.jpg');
  height: 100vh;
}
.note {
  height: 300px;
  width: 300px;
  background-color: yellow;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.note p{
  font-size: 24px;
  padding: 10px;
}
.note span {
  align-self:flex-end;
  margin: 5px;
}

.note span button {
  margin: 3px;
}
